
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300italic,600italic,300,600");

#main_head{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: black 5px solid;
}
.structures{
    padding: 20px;
}
#logo {
    width: 100%;
    border: 5px solid black;
    border-radius: 50%;
    position: absolute;
}
#logo_contain {
    width: 210px;
    padding: 15px;
    position: relative;
    background-image: url(../imgs/logo.jpeg);
    background-size: cover;
    height: 210px;
    background-position: center;
} 
h1 {
    text-transform: uppercase;
    font-size: 30px;
    margin-left: 20px;
}
.sotial_links{
    height: 30px;
    width: 30px;
    border: 5px solid black;
    border-radius: 50%;
    padding: 5px;
    margin: 5px;
    text-align: center;
    vertical-align: center;
    color: crimson;
    text-decoration: none;
}
.sotial_links::before{
    font-size: 32px;
}
#main_head div:nth-child(3) {
    width: 35%;
}
.sotial_conteiner {
    display: flex;
    justify-content: center;
}
#preview img {
    height: 110px;
    float: left;
    margin: 20px;
}
#preview {
    height: 150px;
    line-height: 35px;
    border: solid 3px black;
    border-radius: 20px;
}
#preview p {
}
#slider {
    margin-top: 20px;
}
#slider img {
    width: 100%;
    border-radius: 20px;
}
.central_button_box {
    text-align: center;
    margin: 20px 0;
}
.button_link {
    padding: 5px 20px;
    border: solid black 3px;
    border-radius: 20px;
    background: darkmagenta;
    color: floralwhite;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
}
.button_link:hover {
    background: red;
    opacity: 0;
}
#test {
    border: solid black 3px;
    padding: 20px;
}
#test p {
    width: auto;
    text-align: center;
    border: solid black 3px;
    border-radius: 20px;
    padding: 20px 150px;
}
.options_box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.option_key {
    width: 6em;
    text-align: center;
    border: solid black 3px;
    border-radius: 20px;
    padding: 20px 150px;
    margin: 5px;
}