
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300italic,600italic,300,600");

#main_head{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: black 5px solid;
}
.structures{
    padding: 20px;
}
#logo {
    width: 100%;
    border: 5px solid black;
    border-radius: 50%;
    position: absolute;
}
#logo_contain {
    width: 200px;
    padding: 15px;
    position: relative;
    background-image: url(../imgs/logo.png);
    background-size: cover;
    height: 200px;
    background-position: center;
} 
h1 {
    text-transform: uppercase;
    font-size: 30px;
    margin-left: 20px;
}
.sotial_links{
    height: 30px;
    width: 30px;
    border: 5px solid black;
    border-radius: 50%;
    padding: 5px;
    margin: 5px;
    text-align: center;
    vertical-align: center;
    color: crimson;
    text-decoration: none;
}
.sotial_links::before{
    font-size: 32px;
}
#main_head div:nth-child(3) {
    width: 35%;
}
.sotial_conteiner {
    display: flex;
    justify-content: center;
}
#preview img {
    height: 110px;
    float: left;
    margin: 20px;
}
#preview {
    height: 150px;
    line-height: 35px;
    border: solid 3px black;
    border-radius: 20px;
}
#preview p {
}